<div class="task">
  <header class="task__header">
    <ui-circular-progress [progress]="80"></ui-circular-progress>
    <ui-avatar
      avatarUrl="https://randomuser.me/api/portraits/women/65.jpg"></ui-avatar>
    <ui-button>
      <ui-icon name="more_vert"></ui-icon>
    </ui-button>
  </header>

  <p class="subtitle-1"><strong>Investigar protocolos de internet</strong></p>

  <span class="task__table">
    <ui-badge></ui-badge>
    <p>Seguridad Informática</p>
  </span>

  <span class="task__expired">
    <p data-disabled>Fecha de entrega:</p>
    <p><strong>12/Dic/2020</strong></p>
  </span>
</div>
